<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var max = <%= max %>;
</script>
<script src="/assets/js/app.js"></script>
<head>
    <title>project</title>
</head>
<body>
<p>Page: <%= page %></p><p>Total: <%= total %></p>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control search-domain" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default search" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div>

<table class="table table-hover">
  <thead>
  	<tr>
  		<th>Domain</th>
  		<th>Status</th>
  		<th>Image</th>
  	</tr>
  </thead>
  <tbody class="tbody1">
  <% domain.forEach(function(item){ %>
  	<tr>
  		<td>
  			<%= item.domain %>
  		</td>
  		<td>
  			<%= item.status %>
  		</td>
  		<td>
  			<img src="/assets/images/<%= item.status %>.png">
  		</td>
  	</tr>
  <% }) %>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" class="previous" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% pages.forEach(function(pg){ %>
      <li><a href="/get?page=<%= pg %>"><%= pg %></a></li>
    <% }); %> 
    <li>
      <a href="#" class="next" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</body>
</html>